@font-face {
    font-family: "monserrat";    
    src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");        
    font-weight: normal;
    font-style: normal;
}
*{
    padding: 0px;
    margin: 0px;    
}
.bold{
    font-weight: bold;
}
body{
    width: 100%;
}

.wrapSeleccionPais{
    width: 100%;
    height: 160px;
    background-color: #D61A0C;
    display: none;
    
}
.seleccionPais{
    height: 100%;
    color: #ffffff;
    font-family: 'monserrat';
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: start;  
    align-items: flex-start;  
}
.region{        
    margin: 40px;
    
}
.region h3{
    font-size: 1rem;   
    margin-bottom: 10px; 
}
.region a{
    color: #ffffff;
    font-size: 0.8rem;
    text-decoration: none;
    
}
.region ul{
    list-style: none;
    
}

.regionContent{
    display: flex;
    
}

.region .fa-globe-americas, .fa-globe-europe, .fa-globe{
    font-size: 50px;
    margin-right: 5px;
}
.regionContent a:hover{
    text-decoration: underline;
}
.wraper-menu-superior{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #666666;
    height: 38px;
   
}
header{
    width: 100%;
}
.header-menu-superior{
    list-style: none;
    display: flex;
    flex-flow: row wrap; 
    align-items: center;
    justify-content: center;   
}
.header-menu-superior a:hover{
    background-color: black;
}

#twiter:hover{
    background-color: #1DA1F2;
}
#youtube:hover{
    background-color: #FF0000;
}
#instagram:hover{
    background-color: #DB4D56;
}
#facebook:hover{
    background-color: #4464A7;
}
.header-menu-superior li:first-child{
    border-right: 1px solid gray;
}
.header-menu-superior li:last-child{
    border-left: 1px solid gray;
}

.header-menu-superior a{
    color:#ffffff;
    display: block; 
    font-size: 12px;   
    font-family: "monserrat";
    text-decoration: none;
    padding: 10px 15px;
 }

.boton{
    background-color: #666666;
    border: none;
    color: #ffffff;
    padding: 5px;  
    margin: 5px;  
    width: 100%;
  
}
.selectIdioma{    
    padding: 5px;
    margin: 5px;
    
}
.optionIdioma{
    color: #ffffff;
    background-color: #666666;
}

.bordeDerecha{
    border-right: 1px solid gray;
}
.bordeIzquierda{
    border-left: 1px solid gray;
}
