@font-face {
    font-family: "monserrat";    
    src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");        
    font-weight: normal;
    font-style: normal;
}
*{
    padding: 0px;
    margin: 0px;    
}
.bold{
    font-weight: bold;
}
body{
    width: 100%;
    font-family: "monserrat";
    height: 1000px;
}

.wrapSeleccionPais{
    width: 100%;
    height: 160px;
    background-color: #D61A0C;
    display: none;
    
}
.seleccionPais{
    height: 100%;
    color: #ffffff;
    font-family: 'monserrat';
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: start;  
    align-items: flex-start;  
}
.region{        
    margin: 40px;
    
}
.region h3{
    font-size: 1rem;   
    margin-bottom: 10px; 
}
.region a{
    color: #ffffff;
    font-size: 0.8rem;
    text-decoration: none;
    
}
.region ul{
    list-style: none;
    
}

.regionContent{
    display: flex;
    
}

.region .fa-globe-americas, .fa-globe-europe, .fa-globe{
    font-size: 50px;
    margin-right: 5px;
}
.regionContent a:hover{
    text-decoration: underline;
}
.wraper-menu-superior{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #666666;
    height: 38px;   
    width: 100%;
}
header{
    width: 100%;    
}
.header-menu-superior{
    list-style: none;
    display: flex;
    flex-flow: row wrap; 
    align-items: center;
    justify-content: center;   
}
.header-menu-superior a:hover{
    background-color: black;
}

#twiter:hover{
    background-color: #1DA1F2;
}
#youtube:hover{
    background-color: #FF0000;
}
#instagram:hover{
    background-color: #DB4D56;
}
#facebook:hover{
    background-color: #4464A7;
}
.header-menu-superior li:first-child{
    border-right: 1px solid gray;
}
.header-menu-superior li:last-child{
    border-left: 1px solid gray;
}

.header-menu-superior a{
    color:#ffffff;
    display: block; 
    font-size: 12px;   
    font-family: "monserrat";
    text-decoration: none;
    padding: 10px 15px;
 }

.boton{
    background-color: #666666;
    border: none;
    color: #ffffff;
    padding: 5px;  
    margin: 5px;  
    width: 100%;
  
}
.selectIdioma{    
    padding: 5px;
    margin: 5px;
    
}
.optionIdioma{
    color: #ffffff;
    background-color: #666666;
}

.bordeDerecha{
    border-right: 1px solid gray;
}
.bordeIzquierda{
    border-left: 1px solid gray;
}
.wraper-menu-inferior{
    display: inline-flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: start;
    background-color: #ffffff;
    height: 76px; 
    width: 100%;  
}
.logo{
    width: 150px;
    height: 74px;
    margin-top: 15px;
    margin-right: 20px;
    margin-left: 40px;
}
.iluminar{
    background-color: #E7E7E7;
}
.menu-inferior{
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
}
.menu-item{
   
    display: flex;
    flex-flow: row;    
}
.menu-item a{
    text-decoration: none;
    color: #000000;
    display: flex;
    font-family: 'monserrat';
    font-size: 0.9em;
    transition: all 0.3s;
    padding: 30px;
    /*padding-bottom: 5px;*/
}
.menu-item a:hover h3{
    color: #D61A0C;
}



.menu-item a:hover .fa-search{
    color: #D61A0C;
}
.menu-item .fa-angle-down{
    margin-left: 5px;
    color: #D61A0C;
    font-size: 16px;
}


.open{
    display: block;
}
.box-empresa, .box-contacto,.box-producto,.box-cpr{
    background-color:#E7E7E7; 
    display: none;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 400px; 
    
    
}
.close{
    display: none;
}
.menu-dropdown{
    background-color: #F1F1F1;
    margin: 50px;
    margin-left: 200px;
    width: 25%;
    
}
.box-dropdown-content{
    width: 50%;
    margin-top: 50px;
    margin-right: 175px;
}

.box-dropdown-content h1{
    font-family: 'monserrat';
    font-weight: lighter;
    color: #D61A0C;
    display: block;
    border-bottom: 1px solid white ;    
    padding-bottom: 25px;
}
.box-dropdown-content p{
    font-family: 'monserrat';
    margin-top: 15px;
    font-size: 0.9rem;
    text-align: left;
}
.fa-chevron-right{
    color: #D61A0C;
    transition: all 300ms;
}
.menu-dropdown ul{
    list-style: none;
    display: flex;
    flex-direction: column;    
}

.menu-dropdown ul li{
    border-bottom: 1px solid #E7E7E7;

}

.menu-dropdown ul li a{
    display: block;
    padding: 10px;
    color: #363636;
    text-decoration: none;
    font-family: 'monserrat';
    font-size: 0.8rem;
    font-weight: 600;
    transition: all 300ms;
}
.menu-dropdown ul li a:hover{
    color:white;
    background-color: #868484 ;
}
.menu-empresa ul li a:hover span{
    padding-left: 10px;
}
.menu-dropdown ul li a:hover .fa-chevron-right{
    padding-left: 10px;
}

.menu-dropdown ul li a span{
    margin-left: 5px;
    transition: all 300ms;
}

.box-catalogo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #777677;
    height: 500px;    
    margin-top: 0px;
}

.box-catalogo a{
    text-decoration: none;
    color: #ffff;
    border: 2px solid #b4b3b3;
    padding: 10px;
    border-radius: 10px;
    transition: all 300ms;
}

.box-catalogo a:hover{
    border-color: #D61A0C;
    transform: scale(1.1 , 1); 
}

.catalogo-content {
    text-align: center;
    color: #b4b3b3;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.catalogo-content h2{
    font-size: 4rem;
}
.catalogo-content h4{
    font-size: 1.8rem;
}
.catalogo-content ul{
    list-style-type: none;
}
.catalogo-content ul li{
    padding: 15px;
}
.botonFixed{
    position: fixed;
    width: 70px;
    height: 70px;
    top: 150px;
    left: 70px;
    display: block;    
    border-radius: 50%;
    color: #F1F1F1;
    background-color: #D61A0C;
    text-decoration: none;
    font-weight: bolder;
    text-align: center;
    line-height: 70px;
}
.botonFixed:hover{
    background-color: #000000;
}
.abajo{
    top: 250px;
}
.fa-envelope{
    font-size: 2.5rem;
    font-weight: bolder;
    line-height: 80px;
}
.linea{
    width: 70px;
    border: 2px solid #F1F1F1;
}
.box-cu{
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
    align-items: center;
    background-color: #a71106;
    color: #F1F1F1;
    height: 500px;    
    margin-top: 0px;
}
.box-cu:first-child{
    margin-top: 100px;
}